.intro
    text-align: center
    color: #fff

    &:before
        content: ''
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        opacity: 0
        background: url("../images/bg-pattern.jpg") center no-repeat
        background-size: cover
        z-index: 1
        transition: opacity .5s ease-in-out

        .loaded &
            opacity: 1

    .title
        margin-bottom: 28px

        @media (max-width: $screenS)
            margin-bottom: 15px

    .layout-positioner
        opacity: 0
        z-index: 2

        .loaded &
            opacity: 1

    .text-block
        margin: 0 auto
        max-width: 620px
        line-height: 26px
        color: #0f301e

        @media (max-width: $screenS)
            font-size: 12px
            line-height: 17px
            padding: 0 24px
            max-width: 450px

    .scroll-down
        width: 63px
        height: 62px
        position: absolute
        left: 50%
        bottom: 69px
        margin-left: -31px
        border-radius: 50%
        box-sizing: border-box
        cursor: pointer
        z-index: 2
        transform: scale(0)
        transition: transform .4s ease-in-out 1.3s
        transform-origin: 50% 50%
        background: url("../images/circle.png") center no-repeat
        background-size: contain

        @media (max-width: $screenS)
            width: 42px
            height: 42px
            margin-left: -21px

        &:hover:after
            animation-play-state: paused

        .loaded &
            transform: scale(1)

        &:after
            content: ''
            display: block
            width: 100%
            height: 100%
            animation: arrowMove 0.7s linear infinite
            background: url("../images/arrow-next.png") center no-repeat

            @media (max-width: $screenS)
                background-size: 15px 22px

.contest-slide
    background: url("../images/map-bg.jpg") center no-repeat
    background-size: cover
    text-align: center

    .sub-title
        margin-bottom: 30px

        @media (max-width: $screenM)
            font-size: 36px
            line-height: 44px

        @media (max-width: $screenS)
            font-size: 25px
            line-height: 33px
            max-width: 250px
            margin: 0 auto 15px

    .text-block
        color: #fff
        margin-bottom: 35px
        max-width: 465px
        margin-left: auto
        margin-right: auto

        @media (max-width: $screenM)
            font-size: 16px
            line-height: 24px

        @media (max-width: $screenS)
            font-size: 12px
            line-height: 17px
            margin-bottom: 20px
            padding: 0 15px

    .btn
        padding: 15px 38px

        @media (max-width: $screenM)
            padding: 12px 32px
            font-size: 14px

        @media (max-width: $screenS)
            padding: 10px 24px
            font-size: 12px

.heroes-slide
    background: url("../images/bg-pattern-2.jpg") center no-repeat
    background-size: cover

@keyframes arrowMove
    0%
        transform: translateY(0)

    25%
        transform: translateY(-2px)

    50%
        transform: translateY(0)

    75%
        transform: translateY(2px)

    100%
        transform: translateY(0)