.places
    &__flex
        display: flex
        padding-top: 97px

        @media (max-width: $screenM)
            flex-direction: column

        @media (max-width: $screenS)
            padding-top: 54px

    &__wrapper
        width: 67.142%
        box-sizing: border-box
        padding: 0 7.15% 0 5.7%
        //margin-bottom: 80px
        background-color: #fcfae5

        @media (max-width: $screenM)
            width: 100%
            order: 1
            padding-right: 5.7%
            padding-bottom: 0
            margin-bottom: 0

        @media (max-width: $screenS)
            padding-top: 27px

    &__inner
        max-width: 762px
        padding: 8.86% 0 15.86%
        counter-reset: place

        @media (max-width: $screenM)
            max-width: none
            padding-bottom: 0

        @media (max-width: $screenS)
            max-width: 600px
            margin-left: auto
            margin-right: auto

    &__list
        list-style-type: none
        counter-increment: place
        padding: 0
        margin: 0

    &__hero
        display: block
        margin-bottom: 78px
        max-width: 100%

        @media (max-width: $screenM)
            margin: 0 auto 78px

        @media (max-width: $screenS)
            margin: 0 auto 30px

        &-info
            margin-bottom: 89px

            @media (max-width: $screenS)
                margin-bottom: 54px
                margin-left: 0

    &__text
        padding-left: 50px
        max-width: 490px

        @media (max-width: $screenS)
            margin: 0 auto
            font-size: 12px
            line-height: 17px
            padding: 0 13%

    &__title
        line-height: 1
        font-size: 65px
        text-transform: uppercase
        font-family: $fontDisplay
        color: #216139
        margin-bottom: 35px

        @media (max-width: $screenS)
            font-size: 34px
            text-align: center
            margin-bottom: 15px

    &__type
        line-height: 1
        font-size: 22px
        color: #b89f6f
        text-transform: uppercase
        font-family: $fontDisplay
        margin-bottom: 45px

        @media (max-width: $screenS)
            font-size: 11px
            margin-bottom: 20px
            padding-left: 7px

    &__reg
        padding-left: 185px

        @media (max-width: $screenM)
            display: none

        .text-block
            margin-bottom: 22px

        &-title
            line-height: 1
            font-size: 43px
            color: #303030
            text-transform: uppercase
            font-family: $fontDisplay
            margin-bottom: 25px

.place
    padding-left: 185px
    margin-bottom: 95px
    position: relative
    box-sizing: border-box

    @media (max-width: $screenM)
        padding-left: 170px

    @media (max-width: $screenS)
        padding-left: 39px
        margin-bottom: 55px

    &:before
        content: "0"counters(place,".")
        display: block
        font-size: 45px
        color: #8d5250
        font-family: $fontDisplay
        position: absolute
        top: 7px
        left: -5px

        @media (max-width: $screenS)
            font-size: 22px
            top: -1px
            left: 7px

    &:after
        content: ''
        display: block
        position: absolute
        left: 70px
        top: 37px
        width: 62px
        height: 3px
        background-color: #f9c884

        @media (max-width: $screenS)
            left: 43px
            top: 21px
            width: 31px
            height: 1px

    .text-block
        p
            margin-bottom: 25px

            &:last-child
                margin-bottom: 0

    &__name
        font-size: 45px
        color: #303030
        line-height: 1
        text-transform: uppercase
        font-family: $fontDisplay
        margin-bottom: 43px

        @media (max-width: $screenS)
            font-size: 22px
            line-height: 26px
            padding-left: 54px
            margin-bottom: 19px

.contest
    width: 32.858%
    margin-top: 25px
    text-align: center
    box-sizing: border-box
    position: relative
    padding: 0 1.5%

    @media (max-width: $screenM)
        width: 100%
        order: 2
        margin-top: -1px
        background-color: #eef0e2
        padding-bottom: 93px

    @media (max-width: $screenS)
        padding-top: 20px

    &__inner
        //background: url("../images/border.png") top 19px center no-repeat
        position: fixed
        width: 29.858%
        transform: translateZ(0)

        @media (max-width: $screenL)
            background-size: 100% 85%

        @media (max-width: $screenM)
            position: static
            margin: 0 auto
            width: 49%
            //background-image: url("../images/border-mob.png")

        @media (max-width: $screenS)
            min-width: 263px
            background-size: 100% 81%

    &__title
        color: #0f3c25
        font-size: 37px
        line-height: 1
        text-transform: uppercase
        font-family: $fontDisplay
        margin-bottom: 23px

        @media (max-width: $screenM)
            color: #216139

        @media (max-width: $screenS)
            font-size: 34px
            margin-bottom: 14px

    &__sub-title
        font-size: 22px
        line-height: 29px
        font-weight: bold
        color: #126b38
        max-width: 255px
        margin: 0 auto 10px

        @media (max-width: $screenM)
            color: #303030
            max-width: 315px

        @media (max-width: $screenS)
            font-size: 14px
            line-height: 18px
            padding: 0 10px

    &__text
        font-size: 18px
        line-height: 27px
        color: #05120b
        max-width: 255px
        margin: 0 auto 35px

        @media (max-width: $screenM)
            color: #303030
            max-width: 285px

        @media (max-width: $screenS)
            font-size: 12px
            line-height: 17px
            margin-bottom: 20px

    .btn
        @media (max-width: $screenS)
            font-size: 12px
            padding: 10px 32px

.back-arrow
    width: 17px
    height: 22px
    background: url("../images/arrow-down.png") 0 0 no-repeat
    transform: rotate(90deg) translateZ(0)
    position: fixed
    top: 99px
    left: 48px
    z-index: 2

    @media (max-width: $screenM)
        display: none