.field-block
    input
        position: absolute
        left: -9999px
        height: 0
        width: 0
        overflow: hidden

        &:checked ~ .label-checkbox:after
            transform: scale(1)

.label-checkbox
    display: inline-block
    font-size: 16px
    vertical-align: top
    color: #fff
    position: relative
    cursor: pointer

    @media (max-width: $screenM)
        font-size: 14px

    @media (max-width: $screenS)
        font-size: 11px

    &:before
        content: ''
        display: inline-block
        vertical-align: sub
        margin-right: 15px
        width: 20px
        height: 20px
        box-sizing: border-box
        border: 2px solid #197f37

        @media (max-width: $screenS)
            width: 15px
            height: 15px

    &:after
        content: ''
        display: block
        width: 25px
        height: 20px
        background-image: url(../images/check-mark.svg)
        background-position: center
        background-repeat: no-repeat
        background-size: 21px 22px
        position: absolute
        top: 2px
        left: -1px
        transform-origin: 50% 50%
        transition: transform .3s ease-in-out
        transform: scale(0)

        @media (max-width: $screenS)
            width: 20px
            height: 20px
            background-size: 20px 14px