.heroes
    display: flex

    @media (max-width: $screenS)
        flex-direction: column
        align-items: center

.hero
    display: flex
    justify-content: flex-end
    flex-direction: column
    height: 83vh
    max-height: 653px
    padding-left: 200px
    width: 49%
    position: relative
    box-sizing: border-box
    transform-style: preserve-3d

    @media (max-width: $screenL)
        padding-left: 14%

    @media (max-width: $screenS)
        height: 46vh
        max-height: 245px
        width: 280px
        padding-left: 56px !important

    &:nth-child(2)
        padding-left: 245px

        @media (max-width: $screenL)
            padding-left: 14%
            padding-right: 10px

    &:first-child
        margin-right: 2%

    .text-block, .sub-title
        position: relative
        z-index: 2

    .sub-title a, .text-block a
        text-decoration: none

    .text-block a
        color: #fff

    .sub-title a
        color: #dfdfc6

    .sub-title
        margin-bottom: 20px
        margin-left: -2px
        transform: translateZ(20px)

        @media (max-width: $screenM)
            font-size: 36px

        @media (max-width: $screenS)
            font-size: 25px
            margin-bottom: 10px

    .text-block
        max-width: 385px
        color: #fff
        margin-bottom: 7vh
        transform: translateZ(15px)
        min-height: 168px

        @media (max-width: $screenM)
            font-size: 16px
            line-height: 24px
            margin-bottom: 3vh

        @media (max-width: $screenS)
            font-size: 12px
            line-height: 17px
            margin-bottom: 0
            min-height: 0

    .btn
        align-self: start

        @media (max-width: $screenS)
            display: none

    &__image-wrap
        position: absolute
        top: 80px
        left: 57px
        z-index: 1

        @media (max-height: 700px)
            top: 35px

        @media (max-width: $screenM)
            max-width: 71%

        @media (max-width: $screenS)
            width: 150px
            max-width: none
            left: 0
            top: 46px

        img
            max-width: 100%
            max-height: 412px
            height: auto

.other-heroes
    display: flex
    justify-content: center
    background: url("../images/bg-pattern-5.jpg") left top no-repeat
    background-size: cover
    width: 67.142%
    margin-left: 32.858%

    @media (max-width: $screenM)
        width: 100%
        margin-left: 0

    @media (max-width: $screenS)
        padding-bottom: 30px

    .btn
        display: none

    .hero
        height: 560px
        justify-content: center
        margin-right: 0
        width: auto

        @media (max-width: $screenM)
            margin: 0 auto
            padding-left: 205px
            width: 57%

        @media (max-width: $screenS)
            padding: 0 30px
            width: 100%
            max-width: 350px
            max-height: none
            height: auto

        .sub-title a, .text-block a
            text-decoration: none

        .text-block a
            color: #fff

        .sub-title a
            color: #dfdfc6

        .sub-title
            font-size: 45px

            @media (max-width: $screenS)
                font-size: 26px
                padding-left: 63px
                padding-top: 132px

        .text-block
            margin-bottom: 0

            @media (max-width: $screenL)
                padding-right: 15px

            @media (max-width: $screenM)
                padding-right: 0

            @media (max-width: $screenS)
                font-size: 12px
                line-height: 17px
                padding-left: 63px
                max-width: 250px

        &__image-wrap
            top: 50%
            left: -87px
            transform: translateY(-50%)

            @media (max-width: $screenM)
                left: 0

            @media (max-width: $screenS)
                left: 30px

            img
                display: block