.social
    font-size: 0
    display: flex

    &__inner
        display: flex
        z-index: 2

    &__icon
        display: flex
        align-items: center
        fill: #fff
        cursor: pointer

    &__list
        .ya-share2
            position: relative
            z-index: -1

            .active &
                z-index: 2

            &__list
                display: flex
                align-items: center

            &__link
                display: block
                line-height: 1
                height: 100%

        .ya-share2__item
            position: relative
            margin-right: 25px
            margin-top: 2px
            width: 19px
            height: 17px
            background-color: transparent
            font-size: 0
            cursor: pointer
            opacity: 0
            transition: opacity .3s ease-in-out

            .active &
                opacity: 1

            .ya-share2__badge
                background: transparent !important

            &_service_facebook
                +sprite($icon-fb)

                &:hover
                    +sprite($icon-fb-hover)

            &_service_vkontakte
                +sprite($icon-vk)

                &:hover
                    +sprite($icon-vk-hover)

            &_service_twitter
                +sprite($icon-tw)

                &:hover
                    +sprite($icon-tw-hover)

            &_service_telegram
                +sprite($icon-telegram)

                &:hover
                    +sprite($icon-telegram-hover)