.title, .sub-title
    line-height: 1
    text-transform: uppercase
    font-family: $fontDisplay

.title
    font-size: 100px
    color: #216139

    @media (max-width: $screenS)
        font-size: 51px

.sub-title
    font-size: 47px
    color: #dfdfc6

.text-block
    font-size: 18px
    line-height: 28px

    @media (max-width: $screenS)
        font-size: 12px
        line-height: 17px