@import normalize
@import fonts.scss
@import animate


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%
    height: 100%

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    height: 100%
    font-family: $font
    font-size: 18px
    line-height: 28px
    color: $black
    background-color: #192e21
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.global-wrapper
    margin: 0 auto
    position: relative

    &._places
        overflow: hidden
        background: #e3e0d0 url("../images/bg-pattern-4.jpg") top center no-repeat
        background-size: 100% auto

        @media (max-width: $screenM)
            background: none

.layout-positioner
    position: relative
    box-sizing: border-box
    margin: 0 auto
    max-width: 1180px

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

.svg-wrapper 
    position: absolute
    opacity: 0
    z-index: -100

h1,h2,h3,h4,h5,h6
    margin: 0
    font-weight: normal

p
    margin: 0

ul
    padding: 0