// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXXL: 1900px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 1024px;
$screenS: 768px;
$screenXS: 480px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$biege: #e5e5cb;
$black: #303030;
$white: #fff;
$green: #216139;
// ----------------------------------------------------------------------
    // Animation
// ----------------------------------------------------------------------
$transition: all 0.3s ease-in-out;
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'PT Sans', sans-serif;
$fontDisplay: 'a_Campus', sans-serif;
$fontText: 'HelveticaNeueCyr', sans-serif;
