.btn
    padding: 15px 29px
    background: url("../images/button-bg.png") center no-repeat
    background-size: 100% 100%
    color: #fff
    line-height: 1
    font-size: 18px
    text-decoration: none
    display: inline-block
    cursor: pointer
    box-sizing: border-box
    transition: $transition

    &.disabled
        opacity: .6