<div class="modal__wrapper js-modal-wrappe invisible">
    <div id="agreement" class="modal modal--big modal--agreement invisible" data-fullscreen>
        <button class="btn-close js-modal" data-target="#agreement"></button>
        <div class="modal__content _center">
            <h4 class="sub-title">ПОДТВЕРДИТЕ ПЕРЕХОД</h4>
            <div class="text-block">
                <p>Вы переходите на сайт, содержащий<br>информацию об алкогольной продукции.</p>
            </div>
            <div class="field-block">
                <input class="js-agreement" id="agreement_check" name="agreement_check" type="checkbox">
                <label class="label-checkbox" for="agreement_check">Подтверждаю, мне есть 18 лет</label>
            </div>
            <a href="#" class="btn js-link disabled">Перейти</a>
        </div>
    </div>
</div>