<header class="header" id="header">
    <div class="header__logo">
        <a href="http://afisha.ru/" target="_blank" onclick="sendGa('external', 'click', 'logo', 'click_logo');">
            <svg width="95" height="21">
                <use xlink:href="#logo" />
            </svg>
        </a>
    </div>
    <div class="header__menu">
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="social">
        <div class="social__inner">
            <div class="social__list">
                <div class="ya-share2" data-services="vkontakte,facebook,twitter,telegram" data-title="Выпусти бар" data-description="Попади на лучший бархопинг в твоей жизни! И пройди по ярким местам Москвы и Дублина." data-image="http://stpatrick.afisha.ru/share.jpg" data-bare data-direction="horizontal"></div>
            </div>
            <div class="social__icon js-social" onclick="sendGa('internal', 'click', 'social', 'click_social');">
                <svg width="19" height="17">
                    <use xlink:href="#heart" />
                </svg>
            </div>
        </div>
    </div>
</header>