$modal-overlay-bg: rgba(0,0,0,.82)
$modal-bg: #eff0f0
$z-index--modal: 99
$modal-width: 1220px
$modal-height: 670px

$modal-heading-size: 6.5rem

.modal
    position: absolute
    top: 80px
    left: 50%
    width: $modal-width
    height: $modal-height
    margin-left: -1 * $modal-width / 2
    box-shadow: 0 0 92px 0 rgba(59, 62, 71, 0.3)
    background: $modal-bg
    z-index: 0
    opacity: 0
    transform: translateY(50%) scaleY(0)
    transition: opacity 0.3s, transform 0.3s, z-index 0.1s 0.3s

    &--big
        display: flex
        align-items: center
        width: 100% !important
        margin-left: 0!important
        margin-bottom: 0 !important
        height: 100% !important
        left: 0
        top: 0 !important
        background-color: #192e21

    &--agreement
        background: url("../images/bg-pattern-3.jpg") center no-repeat
        background-size: cover

        .sub-title
            margin-bottom: 30px

            @media (max-width: $screenM)
                font-size: 36px
                line-height: 44px

            @media (max-width: $screenS)
                font-size: 25px
                line-height: 33px
                max-width: 250px
                margin: 0 auto 15px

        .text-block
            margin-bottom: 35px

            @media (max-width: $screenM)
                font-size: 16px
                line-height: 24px

            @media (max-width: $screenS)
                font-size: 12px
                line-height: 17px
                margin-bottom: 20px

        .field-block
            margin-bottom: 20px

        .btn
            padding: 15px 48px

            @media (max-width: $screenM)
                padding: 12px 35px
                font-size: 14px

            @media (max-width: $screenS)
                padding: 10px 27px
                font-size: 12px

    &__wrapper.is-fullscreen &
        top: 1.5rem
        margin-bottom: 1.5rem

    &.is-opened
        z-index: 1
        opacity: 1
        transform: scaleY(1) translateY(0)
        transition: z-index 0.1s, opacity 0.3s 0.1s, transform 0.3s 0.1s

    .text-block
        color: #fff

    &__wrapper
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $modal-overlay-bg
        z-index: -1 * $z-index--modal
        padding-top: 80px
        opacity: 0
        transition: opacity 0.3s, z-index 0.1s 0.3s

        &.is-opened
            opacity: 1
            z-index: $z-index--modal
            transition: z-index 0.1s, opacity 0.3s 0.1s


        &.is-fullscreen
            z-index: $z-index--modal + 98
            padding-top: 0
            overflow-y: auto

    .btn-close
        position: absolute
        top: 0
        right: 0
        z-index: $z-index--modal + 1
        transition: transform .4s ease-in-out
        transform-origin: 50% 50%

        &:hover
            transform: rotate(180deg)

    &__content
        height: 100%
        font-size: 0

        &._center
            text-align: center

    &--big &__content
        //padding: 0 0 50px
        //background: transparent
        overflow-y: auto
        width: 100%
        height: auto
        max-width: 530px
        margin: 0 auto

    &__image
        display: inline-block
        vertical-align: top
        width: 55%
        height: 100%
        background-position: 0 0
        background-repeat: no-repeat

    &__info
        position: relative
        display: inline-block
        vertical-align: top
        width: 45%
        height: 100%
        padding: 132px 50px 50px 71px

    &__title
        font-size: 72px
        letter-spacing: 17px
        line-height: 1
        font-weight: 300
        text-transform: uppercase
        margin-bottom: 8px
        font-family: $fontDisplay

    &__sub-title
        font-size: 31px
        letter-spacing: 7.5px
        line-height: 1
        font-weight: 300
        text-transform: uppercase
        margin-bottom: 45px
        font-family: $fontDisplay

    &__text
        font-size: 13px
        letter-spacing: 0.5px
        line-height: 20px
        font-weight: 300
        max-width: 70%

    &__file
        font-size: 9px
        letter-spacing: 1px
        line-height: 10px
        text-transform: uppercase
        padding-right: 55px
        position: absolute
        right: 57px
        bottom: 53px
        max-width: 160px
        display: block
        color: #fff
        box-sizing: border-box

        &:after
            content: ''
            display: block
            background: url("../images/pdf.png") 0 0 no-repeat
            width: 34px
            height: 35px
            position: absolute
            right: 0
            top: -7px

    .btn-close
        position: absolute
        top: 40px
        right: 30px
        outline: none
        background-color: transparent
        border: none
        width: 22px
        height: 20px
        cursor: pointer

        &:before, &:after
            position: absolute
            left: 10px
            top: 0
            content: ' '
            height: 20px
            width: 2px
            background-color: #fff

        &:before
            transform: rotate(45deg)

        &:after
            transform: rotate(-45deg)
