.header
    display: flex
    align-items: center
    padding: 40px 48px 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    box-sizing: border-box
    z-index: 10

    @media (max-width: $screenS)
        padding: 15px 18px 0

    .social, &__logo, &__menu
        //width: 33.33%
        width: 50%

        @media (max-width: $screenS)
            width: 50%

    &__menu
        display: flex
        justify-content: center
        display: none

        @media (max-width: $screenS)
            justify-content: flex-end

    &__logo
        a
            position: relative
            z-index: 2

        svg
            fill: #fff

            @media (max-width: $screenS)
                width: 69px
                height: auto

    .social
        justify-content: flex-end

        @media (max-width: $screenS)
            display: none

    .header__menu, .social, .header__logo
        position: relative

        &:after
            content: ''
            display: block
            position: absolute

    .header__menu
        &:after
            left: 50%
            margin-left: -38px
            top: -14px
            width: 93px
            height: 55px
            background: url("../images/menu-bg.png") center no-repeat

            @media (max-width: $screenS)
                left: auto
                margin-left: 0
                right: -42px
                top: -14px

    .social
        &:after
            width: 90px
            height: 50px
            right: -47px
            top: -12px
            background: url("../images/social-bg.png") center no-repeat

    .header__logo
        &:after
            width: 160px
            height: 50px
            left: -22px
            top: -10px
            background: url("../images/logo-bg.png") center no-repeat

            @media (max-width: $screenS)
                left: -18px
                top: -4px
                width: 120px
                height: 38px
                background-size: contain

.burger
    width: 23px
    height: 16px
    position: relative
    cursor: pointer
    z-index: 2

    span
        display: block
        position: absolute
        height: 2px
        width: 100%
        background: #fff
        left: 0

        &:nth-child(1)
            top: 0

        &:nth-child(2)
            top: 7px

        &:nth-child(3)
            top: 14px

