// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-fb-hover-name: 'icon-fb-hover';
$icon-fb-hover-x: 0px;
$icon-fb-hover-y: 35px;
$icon-fb-hover-offset-x: 0px;
$icon-fb-hover-offset-y: -35px;
$icon-fb-hover-width: 9px;
$icon-fb-hover-height: 14px;
$icon-fb-hover-total-width: 62px;
$icon-fb-hover-total-height: 49px;
$icon-fb-hover-image: '../images/sprites-built/desktop/main.png';
$icon-fb-hover: (0px, 35px, 0px, -35px, 9px, 14px, 62px, 49px, '../images/sprites-built/desktop/main.png', 'icon-fb-hover', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 13px;
$icon-fb-y: 35px;
$icon-fb-offset-x: -13px;
$icon-fb-offset-y: -35px;
$icon-fb-width: 9px;
$icon-fb-height: 14px;
$icon-fb-total-width: 62px;
$icon-fb-total-height: 49px;
$icon-fb-image: '../images/sprites-built/desktop/main.png';
$icon-fb: (13px, 35px, -13px, -35px, 9px, 14px, 62px, 49px, '../images/sprites-built/desktop/main.png', 'icon-fb', );
$icon-telegram-hover-name: 'icon-telegram-hover';
$icon-telegram-hover-x: 0px;
$icon-telegram-hover-y: 0px;
$icon-telegram-hover-offset-x: 0px;
$icon-telegram-hover-offset-y: 0px;
$icon-telegram-hover-width: 18px;
$icon-telegram-hover-height: 14px;
$icon-telegram-hover-total-width: 62px;
$icon-telegram-hover-total-height: 49px;
$icon-telegram-hover-image: '../images/sprites-built/desktop/main.png';
$icon-telegram-hover: (0px, 0px, 0px, 0px, 18px, 14px, 62px, 49px, '../images/sprites-built/desktop/main.png', 'icon-telegram-hover', );
$icon-telegram-name: 'icon-telegram';
$icon-telegram-x: 22px;
$icon-telegram-y: 0px;
$icon-telegram-offset-x: -22px;
$icon-telegram-offset-y: 0px;
$icon-telegram-width: 18px;
$icon-telegram-height: 14px;
$icon-telegram-total-width: 62px;
$icon-telegram-total-height: 49px;
$icon-telegram-image: '../images/sprites-built/desktop/main.png';
$icon-telegram: (22px, 0px, -22px, 0px, 18px, 14px, 62px, 49px, '../images/sprites-built/desktop/main.png', 'icon-telegram', );
$icon-tw-hover-name: 'icon-tw-hover';
$icon-tw-hover-x: 0px;
$icon-tw-hover-y: 18px;
$icon-tw-hover-offset-x: 0px;
$icon-tw-hover-offset-y: -18px;
$icon-tw-hover-width: 17px;
$icon-tw-hover-height: 13px;
$icon-tw-hover-total-width: 62px;
$icon-tw-hover-total-height: 49px;
$icon-tw-hover-image: '../images/sprites-built/desktop/main.png';
$icon-tw-hover: (0px, 18px, 0px, -18px, 17px, 13px, 62px, 49px, '../images/sprites-built/desktop/main.png', 'icon-tw-hover', );
$icon-tw-name: 'icon-tw';
$icon-tw-x: 21px;
$icon-tw-y: 18px;
$icon-tw-offset-x: -21px;
$icon-tw-offset-y: -18px;
$icon-tw-width: 17px;
$icon-tw-height: 13px;
$icon-tw-total-width: 62px;
$icon-tw-total-height: 49px;
$icon-tw-image: '../images/sprites-built/desktop/main.png';
$icon-tw: (21px, 18px, -21px, -18px, 17px, 13px, 62px, 49px, '../images/sprites-built/desktop/main.png', 'icon-tw', );
$icon-vk-hover-name: 'icon-vk-hover';
$icon-vk-hover-x: 44px;
$icon-vk-hover-y: 0px;
$icon-vk-hover-offset-x: -44px;
$icon-vk-hover-offset-y: 0px;
$icon-vk-hover-width: 18px;
$icon-vk-hover-height: 11px;
$icon-vk-hover-total-width: 62px;
$icon-vk-hover-total-height: 49px;
$icon-vk-hover-image: '../images/sprites-built/desktop/main.png';
$icon-vk-hover: (44px, 0px, -44px, 0px, 18px, 11px, 62px, 49px, '../images/sprites-built/desktop/main.png', 'icon-vk-hover', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 44px;
$icon-vk-y: 15px;
$icon-vk-offset-x: -44px;
$icon-vk-offset-y: -15px;
$icon-vk-width: 18px;
$icon-vk-height: 11px;
$icon-vk-total-width: 62px;
$icon-vk-total-height: 49px;
$icon-vk-image: '../images/sprites-built/desktop/main.png';
$icon-vk: (44px, 15px, -44px, -15px, 18px, 11px, 62px, 49px, '../images/sprites-built/desktop/main.png', 'icon-vk', );
$spritesheet-width: 62px;
$spritesheet-height: 49px;
$spritesheet-image: '../images/sprites-built/desktop/main.png';
$spritesheet-sprites: ($icon-fb-hover, $icon-fb, $icon-telegram-hover, $icon-telegram, $icon-tw-hover, $icon-tw, $icon-vk-hover, $icon-vk, );
$spritesheet: (62px, 49px, '../images/sprites-built/desktop/main.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
